<h2>Photos with class</h2>

<p>Here at Smiles for Miles we care about your family. We don't just put our heart into the photos, we put our sould in, too. Because who else is gonna? Not Greg. Shut up, Greg. Next time you need photos with a little soul, hit up Miles of Smiles and we will treat you right.</p>

<h2>A legacy of greatness</h2>

<p>Founded in 1776, our great country has nothing to do with our great photography company (except how great they both are). Have you ever wondered, where can I get photos that are just great? Us too. Please, if you find someone, let us know.</p>

<h2>Because you shouldn't have to</h2>

<p>Why depend on your smartphone to take pictures? It doesn't have the capacity to give you the quality you <em>deserve</em>. Take it from us, a quality photo is worth a thousand words and just as many dollars. That's why are pricing is so ridiculous. Company policy.</p>
